.AppBody {
    background-color: var(--body);
    /*width: calc(var(--width-size) - var(--margin-size));*/
    width: calc(80vw - 8px);
    max-width: 960px;
    /* 100 % wysokości - header(48) - margin(4) - margin(4)- footer(24) */
    /*min-height: calc(100vh - 48px - 4px - 4px - 24px - 8px - 36px);*/
    margin: 4px auto 36px;
    padding: 8px 4px 32px 4px;
}